<div class="chat">
	<div id="chato">
		<div id="header-chat">
			<div class="row">
				<div class="col-xs-11">
	    			<!-- <input type="email" class="form-control" id="user_name"> -->
				</div>
				<div class="col-xs-1">
					<div class="dropdown">
						<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-danger">
							<span class="fa fa-plus"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<div id="user_list" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
							<li class="divider"></li>
							<li>
							<div class="row">
								<button class="btn btn-default" id="refresh"><span class="fa fa-refresh"></span></button>
								<button class="btn btn-default pull-right" data-toggle="modal" data-target="#miConfig">
									<span class="fa fa-cog"></span>
								</button>
							</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="mensajes">
			<div id="chat" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
		</div>
	</div>
	<div id="caja-mensaje">
	    <div class="form-group">
	    	<div class="row">
	    		<div class="col-md-9">
	    			<textarea placeholder="Escribir mensaje..." class="form-control" rows="2" id="message"></textarea>
		    	</div>
				<div class="col-md-1">
					<button id="send" class="btn btn-primary">
						<a href="#" class="fa fa-reply-all fa-rotate-180" style="color:white;"></a>
					</button>
				</div>
	    	</div>
	    </div>
	    <div class="plugin-box">
    		<div class="btn-group btn-group-justified" role="group">
    			<a id="img-link" class="btn btn-default fa fa-image"></a>
    			<a id="vid-link" class="btn btn-default fa fa-film"></a>
    			<a id="music-link" class="btn btn-default fa fa-music"></a>
    			<a id="text-link" class="btn btn-default fa fa-file-text-o"></a>
	    	</div>
	    </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="miConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configuraciones de Chatapp</h4>
      </div>
      <div class="modal-body">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#home" data-toggle="tab">Generales</a></li>
			<li><a href="#color" data-toggle="tab">Chat</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="home">
				<div class="form-group">
		        	<div class="row">
						<div class="col-md-6 form-group">
						<label for="input-group">Usuario</label>
							<div class="input-group">
					    		<span class="input-group-addon">@</span>
					    		<input type="email" id="storage_name" class="form-control">
							</div>
						</div>
		        		<div class="col-md-6">
		        		<label for="image">URL de Imagen</label>
		        			<input type="text" id="storage_image" class="form-control">
		        		</div>
		        	</div>
				</div>
			</div>
			<div class="tab-pane fade" id="color">

				<h2>Proximamente...</h2>
			    <!-- <div class="wrapper">
				    <div class="left1"></div>
				    <div class="left2"></div>
				    <div class="left3"></div>
				    <div class="left4"></div>
				</div> 
				<div class="wrapper">
				    <div class="left5"></div>
				    <div class="left6"></div>
				    <div class="left7"></div>
				    <div class="left8"></div>
				</div> -->
		</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>