#chato{
	background-color: #eee;
	margin: 20px auto 0;
	width: 400px;
}
#chato #header-chat{
	background-color: #555;
}
#chato #header-chat a{
	color: #FFF;
}
#chato #header-chat #user_name{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
#caja-mensaje{
	background-color: #eee;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
}
#chato #mensajes{
	padding: 10px;
	height: 400px;
	width: 400px;
	overflow: hidden;
	overflow-y: scroll 
}

#chato #mensajes .mensaje-autor{
	margin-bottom: 50px;

}
#chato #mensajes .mensaje-autor img, #chat #mensajes .mensaje-amigo img{
	display: inline-block;
	vertical-align: top;
}
#chato #mensajes .mensaje-autor .contenido{
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	display: inline-block;
	font-size: 13px;
	padding: 15px;
	vertical-align: top;
	width: 280px;
}
#chato #mensajes .mensaje-autor .fecha{
	color: #777;
	font-style: italic;
	font-size: 13px;
	text-align: right;
	margin-right: 35px;
	margin-top: 10px;
}
#chato #mensajes .mensaje-autor .flecha-izquierda{
	display: inline-block;
	margin-right: -6px;
	margin-top: 10px;
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
}
#chato #mensajes .mensaje-amigo{
	margin-bottom: 5px;
}
#chato #mensajes .mensaje-amigo .contenido{
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 13px;
	padding: 15px;
	vertical-align: top;
	width: 280px;
}
#chato #mensajes .mensaje-amigo .flecha-derecha{
	display: inline-block;
	margin-left: -6px;
	margin-top: 10px;
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #3990BF;
}
#chato #mensajes .mensaje-amigo img, #chat #mensajes .mensaje-autor img{
	border-radius: 5px;
}
#chato #mensajes .mensaje-amigo .fecha{
	color: #777;
	font-style: italic;
	font-size: 13px;
	text-align: left;
	
	margin-top: 10px;
}
.Ulist{
	display: none;
}
.wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
   margin-bottom: 10px;
   background-color: #cccccc
}
.left1{
   position: relative;
   float: left;
   left: 5px;
   width: 132px;
   height: 132px;
   background-color: #F0A804
}
.left2{
   position: relative;
   float: left;
   left: 15px;
   width: 132px;
   height: 132px;
   background-color: #008000
}
.left3{
   position: relative;
   float: left;
   left: 25px;
   width: 132px;
   height: 132px;
   background-color: #f78325
}
.left4{
   position: relative;
   float: left;
   left: 35px;
   width: 132px;
   height: 132px;
   background-color: #800080
}
.left5{
   position: relative;
   float: left;
   left: 5px;
   width: 132px;
   height: 132px;
   background-color: #36aa67
}
.left6{
   position: relative;
   float: left;
   left: 15px;
   width: 132px;
   height: 132px;
   background-color: #0ad3d3
}
.left7{
   position: relative;
   float: left;
   left: 25px;
   width: 132px;
   height: 132px;
   background-color: #e08d8d
}
.left8{
   position: relative;
   float: left;
   left: 35px;
   width: 132px;
   height: 132px;
   background-color: #65d36c
}